<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>ISafe</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
	<link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />

	<script src="https://code.jquery.com/jquery.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container-fluid">

	    <div class="row">
	        <nav class="navbar navbar-default">

<!-- 	            <div class="container"> -->
	                <div class="navbar-header">
	                    <button type="button"
	                        class="navbar-toggle collapsed"
	                        data-toggle="collapse"
	                        data-target="#navbar"
	                        aria-expanded="false"
	                        aria-controls="navbar">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <a id="home_route" class="navbar-brand" href="/">
	                    	<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	                    	ISafe</a>
	                </div> 

	                <div id="navbar" class="navbar-collapse collapse">
	                    <ul class="nav navbar-nav">
	                        <li id="heat_route"><a href="/heat">Crime Map</a></li>
	                        <li id="markers_route"><a href="/volunteers">Volunteers</a></li>
	                        <li id="report_route"><a href="/report">Reports</a></li>
	                       	<li id="trends_route"><a href="/volunteer_registration">Become a Partner</a></li>
                                <li id="counsels"><a href="/counselling">Conselling</a></li>
                                <li id="petition"><a href="/petition">Petition</a></li>
	                    </ul>
	                </div>
	            </div>
	    

	        </nav>
<!-- 	    </div> -->

	      <!-- <hr> -->

	{% with messages = get_flashed_messages() %}
	  {% for message in messages %}
	      <div class="alert alert-info" role="alert">{{ message }}</div>
	  {% endfor %}
	{% endwith %}
	<div id="error"></div>

	{% block content %} 
	Welcome to ISafe! We are a non profit organization who connect women in need with out partner organizations.
        {% endblock %}

 </body>
 </html>
