<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>ISafe</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
	<link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />

	<script src="https://code.jquery.com/jquery.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container-fluid">

	    <div class="row">
	        <nav class="navbar navbar-default">

<!-- 	            <div class="container"> -->
	                <div class="navbar-header">
	                    <button type="button"
	                        class="navbar-toggle collapsed"
	                        data-toggle="collapse"
	                        data-target="#navbar"
	                        aria-expanded="false"
	                        aria-controls="navbar">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <a id="home_route" class="navbar-brand" href="/">
	                    	<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	                    	ISafe</a>
	                </div> 

	                <div id="navbar" class="navbar-collapse collapse">
	                    <ul class="nav navbar-nav">
	                        <li id="heat_route"><a href="/heat">Crime Map</a></li>
	                        <li id="markers_route"><a href="/volunteers">Volunteers</a></li>
	                        <li id="report_route"><a href="/report">Reports</a></li>
	                       	<li id="trends_route"><a href="/volunteer_registration">Become a Partner</a></li>
                                <li id="counsels"><a href="/counselling">Conselling</a></li>
                                <li id="petition"><a href="/petition">Petition</a></li>
	                    </ul>
	                </div>
	            </div>
	    

	        </nav>
<!-- 	    </div> -->

	      <!-- <hr> -->


	     <!--  <div class="alert alert-info" role="alert"></div> -->
	
	<div id="error"></div>

	     <div id="slideshow_container">  
	  <div class="slideshow">
	    <ul class="slideshow">
          <li class="show"><img width="740" height="350" src="../images/women.jpeg"/></li>
        </ul> 
	  </div><!--close slideshow-->   
  </div><!--close slideshow_container-->    
	 <div id="content">
        <div class="content_item">
		  <h2>Our Mission:</h2> 
          <p>iSafe allows women to report incidents anonymously via SMS to a twitter account @isafety4all. The incidents can range from cat calling to physical abuse, and the type of incident and level of threat is specified through a hashtag. If one user has reported multiple incidents, or has stated a high threat level, our tool will set up a connection with an NGO close to them by initiating a DM message between both parties. For neighborhood with many reported incidents, iSafe will create a petition on change.org, tweeting the details to gain backers and increase awareness of the issue.</p>



	  
		  <div class="sidebar">
          <div class="sidebar_item">
            <h4>Contact</h4>
            <p>Phone: +44 (0)1234 567891</p>
            <p>Email: <a href="mailto:info@youremail.co.uk">isafe@gmail.com</a></p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
       </div><!--close sidebar_container--> 
		    </div><!--close button_small-->		  
		  </div><!--close content_container-->	
		  
		</div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content-->  	
       

 </body>
 </html>
