{% extends 'base.html' %}
{% block content %}

<script src='../static/nprogress/nprogress.js'></script>
<link rel='stylesheet' href='../static/nprogress/nprogress.css'/>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

<link rel="stylesheet" href="../static/css/stylesheet.css">
<div class="container">
  Welcome Volunteers! You can see this page because you have signed up with Twitter!
  You can update Reports for your counselee
  <table>
  <tr>
       <th> Volunteer Name </th>
       <th> Type </th>
       <th> Status </th>
       <th> Update Status </th>
  </tr>
  {% for item in items %}
   <tr>
        <td> {{ item.name }} </td>
        <td> {{ item.type }} </td>
        <td> {{ item.status}} </td>
        <td><button > Update Status </button> </td>
   </tr>
  {% endfor %}
</table>

</div>

<!-- <script src='../static/JS/map.js'></script> -->
<script src='../static/js/organizations.js'></script>

{% endblock %}

